footer {
  a {
    color: $primary !important;
    background: transparent !important;
   
  }
  .social {
    border: 2px solid $dark;
    border-radius: 0;
    width: 60px;
    color: $dark !important;
    transition: all 0.2s;
    &:hover {
      background-color: $dark !important;
      color: #fff !important;
    }
  }
}